$main-color: #c81912;
$main-text-color:#f64b3c;
$second-color: #191d3b;
$font-color: #9b9b9b; 
$lightgray:#ddd;
$darkgray:#333;
$black:#252525;
$blog-background: #f0f4ff;
$btn-background: transparent linear-gradient(90deg, #C81912 0%, #F64B3C 100%) 0% 0% no-repeat padding-box;
$btn-boxshadow: #eb3449a6;