// Colors
$main-color: #c81912;
$second-color: #191d3b;
$font-color: #9b9b9b; 
$star-color: #ff7b2e;
$white: #fff;
$shadow: #00000026;
$line-color: #e7e7e7;
$main-text-color:#f64b3c;
$lightgray:#ddd;
$darkgray:#333;
$black:#252525;
$blog-background: #f0f4ff;
$btn-background: transparent linear-gradient(90deg, #C81912 0%, #F64B3C 100%) 0% 0% no-repeat padding-box;
$btn-boxshadow: #eb3449a6;

//Fonts
$font: 'Poppins', sans-serif;
$font-heading: 'Rubik', sans-serif;

//Font weights
$font-r: 400;
$font-m: 600;
$font-b: 700;

//Mixins
@mixin flex-center {
   @include flex;
   justify-content: center;
   align-items: center;
}

@mixin button-sidebar {
   text-transform: uppercase;
   font-weight: $font-m;
   padding: .875rem 2.3rem;
   font-size: .75rem;
   color: $white;
   border-radius: 0;
}